<div class="theBody">
    <div class="container text-center">
      <div class="row row-table row-full-height text-center">
        <div class="col-12 col-middle">
        <%= image_tag(@current_user.image, :class => "image") %>
        </div>
        <p class="welcome"> Welcome <strong><%= @current_user.first_name %></strong>!</p>
      </div> <!-- end of row div -->

      <%= button_to('Sign out', signout_path, :class => 'btn btn-large btn-default', :method => :get, id: "sign_out")  %>

      <!-- <h3 class="title">My Groups</h3> -->

    <!-- <div class="do"> -->
    <br>
    <hr id="divider"> <!-- adding space and line before create new group -->
    <br>



