  <div class="container" id="hero-img">
    <h1>actstat</h1>
  </div>

    <div class="getstarted" id="start" role="article">

    <p class="about_us">A new way to dicover your city and see what others are doing to make it a better place</p>

    <div class="main-content">
    <div class="container">
      <div class="margin-top-10">
        <div class="sg-web2-input-wrapper-light">
          <input id="signup-firstname" class="sg-web2-input sg-web2-input-light" type="text" placeholder="First Name" data-role="none" />
        </div>
        <div class="sg-web2-input-wrapper-light">
          <input id="signup-lastname" class="sg-web2-input sg-web2-input-light" type="text" placeholder="Last Name" data-role="none" />
        </div>
        <div class="sg-web2-input-wrapper-light">
          <input id="signup-city" class="sg-web2-input sg-web2-input-light" type="text" placeholder="Your City" data-role="none" />
        </div>
      </div>
      <br>
      <div class="center-constrain">
        <div class="column-container margin-top-50 signup-facebook-option">
          <div class="small-column-left signup-left-icon">
            <i class="fa fa-facebook"></i>
          </div>

            <div id="user_nav">
              <%= link_to "Continue with Facebook", "/auth/facebook", id: "sign_in",class: "big-column-right signup-right-text" %>
            </div>

          </div>
        </div>
      </div>
    </div>

    </div>


