
<script>
  $(document).ready(function(e) {
    init();
    animate();
  });
</script>

<div id="center">

  <p id="comments"></p>

  <img src="img/play.png" width="100" height="100" id="playimg">

</div><!--center-closed-->
