<div id="main-stage">
</div>

<div id="content-container">
</div>

<div class="hideme intro-comment" id="intro-comment-1">
  City lights, and busy lives. Let's stop for a moment and discover what is happening in our community.
</div>

<div class="hideme intro-comment" id="intro-comment-2">
  Move your cursor in the next screen and you will see different statistics about your city. You can click on any statistic that stands apart to you and see which nonprofits are addressing them.
</div>

<div id="center">
  <p id="comments"></p>
  <img src="img/play.png" width="100" height="100" id="playimg">
</div>

<div class = "top_right">
  <i>
    <%= link_to " ", "/auth/facebook", id: "sign_in",class: "fa fa-facebook fa-3x" %>
  </i>
  <div class="line-separator"></div>
  <i class="fa fa-twitter fa-3x"></i>
</div>

<!-- <form>
  <div class="input-prepend">
    <span class="add-on"><i class="map-marker"></i></span>
    <input class="span2" type="text" placeholder="Your City and State">
  </div>
</form> -->
