<div class="actstat-header">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="actstat-logo">
            actstat
          </div>
        </div>
        <div class="col-sm-6">
          <div class="small-header-text">
            discover your city
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="row margin-top-25">
        <div class="col-sm-6 txt-right">
          <a href="#" class="actstat-header-link">HOMEPAGE</a>
        </div>
        <div class="col-sm-6">
          <a href="#" class="actstat-header-link">SIGN IN</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-text">
  Choose a Random Statistic
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <img src="" class="img-responsive" />
      </div>
      <div class="margin-top-10 medium-title">
        Mauris vulputate
      </div>
      <div class="margin-top-10">
        Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.
      </div>
    </div>
  </div>
</div>
