/*@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

#header-wrapper {
  height: 150px;
}

/* Header */

/*#header {
  min-height: 205px;
  position: relative;
}

#header h1 {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
}

#header h1 a {
  color: #fff;
  letter-spacing: -2px;
  text-decoration: none;
  text-transform: lowercase;
}

#header p {
  float: left;
  padding: 70px 0px 0px 220px;
  font-size: 14pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
}

#header nav {
  position: absolute;
  top: 70px;
  right: 0;
  font-weight: 200;
}

#header nav a {
  color: #c6c8c8;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  margin-left: 30px;
  outline: 0;
}

#header nav a:hover {
  color: #f6f8f8;
}

#header nav .active {
}*/

/* Banner */

/*#banner-wrapper {
  padding: 60px 0px;
  background: #fff;
}

#banner {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  padding: 40px;
}*/

/* Feature */

/*#feature-wrapper {
  padding: 50px 0px;
  background: #FFFFFF;
}

#feature-content {
}

#feature-content h2 {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#feature-content p {
  text-align: center;
}

#feature-content {
}*/

/* Page Wrapper */

/*#page-wrapper {
  padding: 50px 0px;
  background: #261611;
  color: #766C69;
}

#page h2 {
  color: #FFFFFF;
}

#page strong {
}*/

/*body {
  margin: 0px;
  padding: 0px;
  background: #180E0B;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
  color: #000000;
}*/

/*h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-family: 'Satisfy', cursive;
}

h2 {
  padding: 0px 0px 20px 0px;
  letter-spacing: -1px;
  font-size: 1.8em;
}

p, ol, ul {
  margin-top: 0px;
  line-height: 160%;
}

p {
  margin-top: 0px;
  line-height: 160%;
}

strong {
  font-weight: 700;
}

a {
  color: #A2A2A2;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

img.border {
}

img.alignleft {
  float: left;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0px auto;
}

hr {
  display: none;
}

#banner a img {
  width: 100%;
  display: block;
}

#feature-content img {
}

#feature-content a img {
  width: 100%;
  display: block;
}*/