.image {
  height: 100%;
  width: 200px;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  border:#DDD 3px solid;
  display:block;
  margin:0 auto;
}

#sign_out {
  margin: 5px 10px;
  display: block;
  background:none;
  border: 1px solid black;
  font-family: 'Quicksand', sans-serif;
  padding:10px;
  position:absolute;
  top: 0;
  right: 0;
}

.welcome {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

