body {
  background-color: #505050!important;
  margin: 0px;
  overflow: hidden;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
}

a {
  color:#0078ff;
}

.hideme {
  display:none;
}

#info {
  color:#fff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index:100;
}

#center {
  width: 300px;
  height: 300px;
  border: solid 5px rgba(255, 255, 255, 0.5);
  border-radius: 200px;
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-150px;
  background: rgba(63, 85, 90, 0.9);
  /*background: rgba(63, 85, 90, 1);*/
  /*border: solid 5px rgba(255, 255, 255, 1);*/
  display:none;
}

#comments {
  color:#fff;
  font-size:23px;
  display: block;
  margin-top:30%;
}

#playimg {
  position:absolute;
  top:33%;
  left:33%;
  display:none;
  border:solid 1px #fff;
  padding:20px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-radius:100px;
  cursor:pointer;
}

.fa-twitter {
  color: #fff;
  display: inline-block;
  margin-left: 15px;
}

.fa-facebook {
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

.line-separator{
  height:30px;
  width: 1px;
  background:#717171;
  border-left:1px solid #fff;
  display: inline-block;
}

.top_right{
  position:fixed;
  top: 0;
  right:0;
  margin-top: 20px;
  margin-right: 20px;
}

.intro-comment {
  font-size:2em;
  color:#FFF;
  margin-top:20%;
}

#main-stage {
  display:none;
}