body {
  margin: 0px;
  /*background-color: #505050;*/
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
}

a {
  color:#0078ff;
}

.hideme {
  display:none;
}

#info {
  color:#fff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index:100;
}

#center {
  width: 360px;
  height: 360px;
  border: solid 5px rgba(255, 255, 255, 0.5);
  border-radius: 200px;
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-180px;
  margin-top:-180px;
  background: rgba(63, 85, 90, 0.9);
  /*background: rgba(63, 85, 90, 1);*/
  /*border: solid 5px rgba(255, 255, 255, 1);*/
  display:none;
}

#comments {
  color:#fff;
  font-size:23px;
  display: block;
  margin-top:30%;
}

#playimg {
  position:absolute;
  top:37%;
  left:35%;
  display:none;
  border:solid 1px #fff;
  padding:20px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-radius:100px;
  cursor:pointer;
}

.fa-twitter {
  color: #fff;
  display: inline-block;
  margin-left: 15px;
}

.fa-facebook {
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

.line-separator{
  height:30px;
  width: 1px;
  background:#717171;
  border-left:1px solid #fff;
  display: inline-block;
}

.top_right{
  position:fixed;
  top: 0;
  right:0;
  margin-top: 20px;
  margin-right: 20px;
}

#bottom_center{
  position:fixed;
  bottom: 0;
  text-align:center;
}

#sign_out2{
  text-color: #FFF;
  margin: 5px 10px;
  display: block;
  background:none;
  border: 1px solid white;
  font-family: 'Quicksand', sans-serif;
  padding:10px;
  text-align:center;
}

.form-control {
   font-size: 10px;
   width: 20px;
   left: 0;
   top:0;
}

body, html {
    height: 100%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #505050;
}

.intro-comment {
  font-size:2em;
  color:#FFF;
  vertical-align: middle;
}

#main-stage {
  display:none;
  background-color: #505050;
}

.actstat-input {
  width:300px;
  padding:5px;
  border-radius:5px;
  position:absolute;
  bottom:20px;
  left:20px;
  background:none;
  border:#CCC 2px solid;
  display:none;
  color:#CCC;
}